<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <title>Log in</title>
</head>
<body>
<b>Login</b>
<br></br>
<br></br>
<form role="form" action="/login" method="post">
    <input type="hidden" name="goto" value="news"></input>
    <table border="0">
        <tbody>
        <tr>
            <td>username:</td>
            <td><input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
        </tr>
        </tbody>
    </table>
    <br></br>
    <input type="submit" value="login"></input>
</form>
<br></br>
<a href="forgot">Forgot your password?</a>
<br></br>
<br></br>
<b>Create Account</b>
<br></br>
<br></br>
<form role="form" action="/user/create" method="post">
    <input type="hidden" name="goto" value="news"></input>
    <input type="hidden" name="creating" value="t"></input>
    <table border="0">
        <tbody>
        <tr>
            <td>username:</td>
            <td><input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
        </tr>
        </tbody>
    </table>
    <br></br>
    <input type="submit" value="create account"></input>
</form>
</body>
</html>