<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <title>Log in</title>

</head>
<body>
<b>Login</b>
<br></br>
<br></br>
<form role="form" th:action="@{/login}" method="post">
    <table border="0">
        <tbody>
        <tr>
            <td>username:</td>
            <td><input type="text" name="username" id="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
            <span style="margin-left:10px"></span>
        </tr>
        <tr>
            <td>password:</td>
            <td><input type="text" name="password" id="password" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true" autocomplete="off"></input></td>
        </tr>
        </tbody>
    </table>
    <br></br>
    <input type="submit" value="login"></input>
</form>
<p th:if="${param.error}" class="error">
    Invalid username and password.
</p>
<br></br>
<a href="forgot">Forgot your password?</a>
<br></br>
<br></br>
<a href="/user/create">Not yet registered? Create account.</a>
<br></br>
<br></br>
</body>
</html>