<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Post Title | Slacker News</title>
    <meta name="referrer" content="origin"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link rel="stylesheet" type="text/css" href="/css/home.css"></link>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"></link>
</head>
<body>
<center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
        <tr>
            <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                    <tbody>
                    <tr>
                        <td style="width:18px;padding-right:4px">
                            <a href="https://news.ycombinator.com">
                                <img src="/images/s18.png" width="18" height="18"
                                     style="border:1px white solid;"/>
                            </a>
                        </td>
                        <td style="line-height:12pt; height:10px">
                                <span class="pagetop">
                                    <b class="hnname">
                                        <a href="news">Submit</a>
                                    </b>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="height:10px"></tr>
        <tr>
            <td>
            </td>
        </tr>

        </tbody>
    </table>
</center>
</body>
</html>